

#title-row{
  background-image: url(../img/wall.png);
  background-size: contain;
}

h1, h6{
  font-family: "Edu TAS Beginner", sans-serif;
}

#cards-row{
  background-image: url(../img/cork.png);
  background-size: contain;
  padding: 2.5% 12.5%;
}

.card{
  margin-bottom: 1.5rem;
  position: relative;
}

.card,
.card-img{
  border-radius: 0;
  padding: 5px;
}

.card-content{
  padding: 2% 4%;
}

.card-content p{
  font-family: "Sometype Mono", monospace;
  font-size: 1rem;
  margin-bottom: 0;
}

.pin{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -50%;
}

.pin img{
  width: 100%;
}